.git
.github/
.gitignore
.venv/
pycache/
*.pyc
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
coverage.*
dist/
build/
*.egg-info/
.vscode/
*.log
my-python-app.tar
deployment.yaml
generated-app.yaml
.pre-commit-config.yaml
README.md
.python-version
Containerfile
.dockerignore
